<!-- blog/templates/blog/post_list.html -->

{% extends 'base_generic.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class=" border-left-info shadow py-2">

                <h2 class="text-info-emphasis list-group-item text-center p-3 text-primary"
                    style="background-color: #e3f2fd;">Register</h2>

                <div class="form-group mx-auto mt-10" style="width: 600px; margin-top: 20px;">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div style="text-align: center; margin-top: 20px;"> <!-- Center the button and add margin -->
                            <button class="btn btn-secondary" style=" margin-top: 20px;">Register</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
